[submodule "components/LovyanGFX"]
	path = components/LovyanGFX
	url = git@github.com:lovyan03/LovyanGFX.git
[submodule "components/extra/esp-homekit-sdk"]
	path = components/extra/esp-homekit-sdk
	url = git@github.com:dk307/esp-homekit-sdk.git
